.*
!.gitignore
_*
!__init__.py

*.py[co]
*.ipynb

# Packages
*.egg
*.egg-info
dist
build
eggs

# Data dir
/Data

# Unit test / coverage reports
.coverage

# Venv activate scripts
activate
activate.bat